## üìå–û –∑–∞–¥–∞–Ω–∏–∏

–í —ç—Ç–æ–º –¥–æ–º–∞—à–Ω–µ–º –∑–∞–¥–∞–Ω–∏–∏ –≤—ã –ø–æ–ø—Ä–∞–∫—Ç–∏–∫—É–µ—Ç–µ—Å—å –≤ —Ä–∞–±–æ—Ç–µ —Å –±–∏–±–ª–∏–æ—Ç–µ–∫–∞–º–∏ **Pandas –∏ NumPy**.

- –ë–∏–±–ª–∏–æ—Ç–µ–∫–∞ Pandas —É–¥–æ–±–Ω–∞—è –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å —Ç–∞–±–ª–∏—á–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏ –≤ Python. –ù–∞–ª–∏—á–∏–µ –≥–æ—Ç–æ–≤—ã—Ö –º–µ—Ç–æ–¥–æ–≤ –ø–æ–∑–≤–æ–ª—è–µ—Ç –Ω–µ —Ä–µ–∞–ª–∏–∑–æ–≤—ã–≤–∞—Ç—å —Å–∞–º–æ—Å—Ç–æ—è—Ç–µ–ª—å–Ω–æ –ø–æ—ç–ª–µ–º–µ–Ω—Ç–Ω—É—é –æ–±—Ä–∞–±–æ—Ç–∫—É –¥–∞–Ω–Ω—ã—Ö –∏ –æ–ø–µ—Ä–∏—Ä–æ–≤–∞—Ç—å —Å—Ä–∞–∑—É —Ü–µ–ª—ã–º–∏ —Ç–∞–±–ª–∏—Ü–∞–º–∏ –¥–∞–Ω–Ω—ã—Ö. –û—Å–Ω–æ–≤–Ω–æ–π –æ–±—ä–µ–∫—Ç –≤ pandas ‚Äî —ç—Ç–æ DataFrame, –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è—é—â–∏–π —Å–æ–±–æ–π —Ç–∞–±–ª–∏—Ü—É —Å –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã–º–∏ –∫–æ–ª–æ–Ω–∫–∞–º–∏ —Ä–∞–∑–ª–∏—á–Ω—ã—Ö —Ç–∏–ø–æ–≤, –∏–Ω–¥–µ–∫—Å–æ–º. DataFrame –º–æ–∂–Ω–æ —Å–æ–∑–¥–∞–≤–∞—Ç—å, —Å—á–∏—Ç—ã–≤–∞—è —Ç–∞–±–ª–∏—Ü—É –∏–∑ —Ñ–∞–π–ª–∞ –∏–ª–∏ –∑–∞–¥–∞–≤–∞—è –≤—Ä—É—á–Ω—É—é –∏–∑ –¥—Ä—É–≥–∏—Ö –æ–±—ä–µ–∫—Ç–æ–≤. –ü–æ–¥—Ä–æ–±–Ω–µ–µ —Å –æ—Å–Ω–æ–≤–Ω—ã–º–∏ –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç—è–º–∏ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –º–æ–∂–Ω–æ –æ–∑–Ω–∞–∫–æ–º–∏—Ç—å—Å—è –∑–¥–µ—Å—å: https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html


- –ë–∏–±–ª–∏–æ—Ç–µ–∫–∞ NumPy –ø–æ–∑–≤–æ–ª—è–µ—Ç —Å—Ä–∞–≤–Ω–∏—Ç–µ–ª—å–Ω–æ –ª–µ–≥–∫–æ –∏ —É–¥–æ–±–Ω–æ –≤—ã–ø–æ–ª–Ω—è—Ç—å —Ä–∞–∑–Ω–æ–æ–±—Ä–∞–∑–Ω—ã–µ –≤—ã—á–∏—Å–ª–µ–Ω–∏—è, –∏–∑–±–µ–≥–∞—è —Å–∞–º–æ—Å—Ç–æ—è—Ç–µ–ª—å–Ω–æ–π —Ä–µ–∞–ª–∏–∑–∞—Ü–∏–∏ –ø–æ—ç–ª–µ–º–µ–Ω—Ç–Ω–æ–π –æ–±—Ä–∞–±–æ—Ç–∫–∏. –ü—Ä–∏ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–∏ –∑–∞–¥–∞–Ω–∏–π –∏–∑ –¥–∞–Ω–Ω–æ–π —á–∞—Å—Ç–∏ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –Ω–∞–ø–∏—Å–∞—Ç—å –∫–æ–¥ —Ä–µ—à–µ–Ω–∏—è –≤–Ω—É—Ç—Ä–∏ —Ñ—É–Ω–∫—Ü–∏–∏ –∏ —É–±–µ–¥–∏—Ç—å—Å—è, —á—Ç–æ –æ–Ω–∞ —Ä–∞–±–æ—Ç–∞–µ—Ç, —Å –ø–æ–º–æ—â—å—é assert –Ω–∞ –≤—ã—Ä–∞–∂–µ–Ω–∏–µ —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º —ç—Ç–æ–π —Ñ—É–Ω–∫—Ü–∏–∏ –¥–ª—è –¥–∞–Ω–Ω—ã—Ö –∏–∑ —É—Å–ª–æ–≤–∏—è. –¢–∞–∫–∂–µ –ø–æ—Å—Ç–∞—Ä–∞–π—Ç–µ—Å—å (–Ω–∞—Å—Ç–æ—è—Ç–µ–ª—å–Ω–æ —Ä–µ–∫–æ–º–µ–Ω–¥—É–µ—Ç—Å—è!) –Ω–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ü–∏–∫–ª—ã –∏ —É—Å–ª–æ–≤–Ω—ã–π –æ–ø–µ—Ä–∞—Ç–æ—Ä. –ü–æ–¥—Ä–æ–±–Ω–µ–µ —Å –æ—Å–Ω–æ–≤–Ω—ã–º–∏ –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç—è–º–∏ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –º–æ–∂–Ω–æ –æ–∑–Ω–∞–∫–æ–º–∏—Ç—å—Å—è –∑–¥–µ—Å—å: https://numpy.org/doc/stable/reference/index.html

### üòò –ù–∞–ø—É—Ç—Å—Ç–≤–∏–µ:
- –ü–æ–º–Ω–∏—Ç–µ, —á—Ç–æ data scientist –ø—Ä–æ—Ñ–µ—Å—Å–∏—è –∫—Ä–µ–∞—Ç–∏–≤–Ω–∞—è, –ø–æ—ç—Ç–æ–º—É –Ω–µ —Å—É—â–µ—Å—Ç–≤—É—é—Ç –µ–¥–∏–Ω—Å—Ç–≤–µ–Ω–Ω–æ –≤–µ—Ä–Ω–æ–≥–æ –æ—Ç–≤–µ—Ç–∞, –Ω–∞ –ø—Ä–¥–ª–æ–∂–µ–Ω–Ω—ã–µ –Ω–∏–∂–µ –∑–∞–¥–∞—á–∏.
- –°—Ç–∞—Ä–∞–π—Ç–µ—Å—å –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ –∑–∞–¥–µ–π—Å—Ç–≤–æ–≤–∞—Ç—å –∞—Ä—Å–µ–Ω–∞–ª –±–∏–±–ª–∏–æ—Ç–µ–∫.
- –ü–∏—à–∏—Ç–µ —á–∏—Ç–∞–µ–º—ã–π –ø–æ–Ω—è—Ç–Ω—ã–π –∫–æ–¥.
- –ï—Å–ª–∏ –∑–∞–¥–∞—á–∞ –Ω–µ –ø–æ–ª—É—á–∞–µ—Ç—Å—è - –Ω–µ —Å–¥–∞–≤–∞–π—Ç–µ—Å—å. –ì—É–≥–ª –∏ stackoverflow –≤–∞–º –≤ –ø–æ–º–æ—â—å!

### üêºPandas

–ù–∞—á–Ω–µ–º –ø–æ–≥—Ä—É–∂–µ–Ω–∏–µ –≤ data science —Å –∫–ª–∞—Å—Å–∏–∫–∏. –í –¥–∞–Ω–Ω–æ–π —á–∞—Å—Ç–∏ –¥–æ–º–∞—à–Ω–µ–π —Ä–∞–±–æ—Ç—ã –≤—ã –±—É–¥–µ—Ç–µ –∏—Å—Å–ª–µ–¥–æ–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –æ –ø–∞—Å—Å–∞–∂–∏—Ä–∞—Ö –¢–∏—Ç–∞–Ω–∏–∫–∞.

https://www.kaggle.com/c/titanic/data

–í–∞–º —Ç—Ä–µ–±—É–µ—Ç—Å—è —Å–∫–∞—á–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –∏ –≤—ã–ø–æ–ª–Ω–∏—Ç—å –∑–∞–¥–∞–Ω–∏—è.

In [2]:
import pandas as pd
import numpy as np

‚úÖ 1. –û—Ç–∫—Ä–æ–π—Ç–µ –≤ –Ω–æ—É—Ç–±—É–∫–µ —Ñ–∞–π–ª —Å –¥–∞–Ω–Ω—ã–º–∏ ("train.csv") –∏ –≤—ã–≤–µ–¥–∏—Ç–µ –ø–µ—Ä–≤—ã–µ –∏ –ø–æ—Å–ª–µ–¥–Ω–∏–µ 5 —Å—Ç—Ä–æ–∫ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞

In [3]:
df = pd.read_csv('titanic_train.csv')

In [4]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.tail(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

‚úÖ 2. –ö–∞–∫–æ–π —Ä–∞–∑–º–µ—Ä –∏–º–µ–µ—Ç –¥–∞—Ç–∞—Ñ—Ä–µ–π–º?

In [6]:
df.shape

(891, 12)

‚úÖ 3. –î–ª—è –∫–∞–∂–¥–æ–≥–æ –∏–∑ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ —É–∫–∞–∂–∏—Ç–µ –µ–≥–æ —Ç–∏–ø (–≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–π, –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π, –ø–æ—Ä—è–¥–∫–æ–≤—ã–π, –¥—Ä—É–≥–æ–µ). –ü—Ä–∏–¥—É–º–∞–π—Ç–µ —Ç—Ä–∏ –∑–∞–¥–∞—á–∏, –∫–æ—Ç–æ—Ä—ã–µ –º–æ–∂–Ω–æ –±—ã–ª–æ –±—ã —Ä–µ—à–∞—Ç—å –¥–ª—è –¥–∞–Ω–Ω–æ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç–∞ ‚Äî –∑–∞–¥–∞—á—É —Ä–µ–≥—Ä–µ—Å—Å–∏–∏, –∑–∞–¥–∞—á—É –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏–∏ –∏ –∑–∞–¥–∞—á—É –∫–ª–∞—Å—Ç–µ—Ä–∏–∑–∞—Ü–∏–∏.

In [7]:
# PassengerId - –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–π
# Survived - –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–π
# Pclass - –ø–æ—Ä—è–¥–∫–æ–≤—ã–π
# Name - –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π
# Sex - –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π
# Age - –ø–æ—Ä—è–¥–∫–æ–≤—ã–π
# SibSp - –ø–æ—Ä—è–¥–∫–æ–≤—ã–π
# Parch - –ø–æ—Ä—è–¥–∫–æ–≤—ã–π
# Ticket - –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–π
# Fare - –ø–æ—Ä—è–¥–∫–æ–≤—ã–π
# Cabin - –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π
# Embarked - –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π

# –∑–∞–¥–∞—á–∞ –†–µ–≥—Ä–µ—Å—Å–∏–∏ - –ø—Ä–µ–¥—Å–∫–∞–∑–∞—Ç—å —Å—Ç–æ–∏–º–æ—Å—Ç—å –±–∏–ª–µ—Ç–∞
# –∑–∞–¥–∞—á–∞ –ö–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏–∏ - –ø—Ä–µ–¥—Å–∫–∞–∑–∞—Ç—å –≤—ã–∂–∏–≤–µ—Ç –ª–∏ —á–µ–ª–æ–≤–µ–∫
# –∑–∞–¥–∞—á–∞ –ö–ª–∞—Å—Ç–µ—Ä–∏–∑–∞—Ü–∏–∏ - —Ä–∞–∑–¥–µ–ª–∏—Ç—å –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ –Ω–∞ –≥—Ä—É–ø–ø—ã –ø–æ –∫–ª–∞—Å—Å—É –±–∏–ª–µ—Ç–∞

‚úÖ 4. –ö–∞–∫–æ–≤–∞ –¥–æ–ª—è –≤—ã–∂–∏–≤—à–∏—Ö –ø–æ—Å–ª–µ –∫—Ä—É—à–µ–Ω–∏—è:
    - –≤—Å–µ—Ö –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤
    - –º—É–∂—á–∏–Ω
    - –∂–µ–Ω—â–∏–Ω?

In [8]:
# –¥–æ–ª—è –≤—Å–µ—Ö –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤
df['Survived'].mean()

np.float64(0.3838383838383838)

In [9]:
df.groupby('Sex')['Survived'].mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

‚úÖ 5. –°–∫–æ–ª—å–∫–æ –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ –µ—Ö–∞–ª–æ –≤ –∫–∞–∂–¥–æ–º –∫–ª–∞—Å—Å–µ?

In [10]:
df['Pclass'].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

‚úÖ 6. –°–∫–æ–ª—å–∫–æ –≤ —Å—Ä–µ–¥–Ω–µ–º –ø–∞—Å—Å–∞–∂–∏—Ä—ã –∑–∞–ø–ª–∞—Ç–∏–ª–∏ –∑–∞ –ø—Ä–æ–µ–∑–¥?

In [11]:
df['Fare'].mean()

np.float64(32.204207968574636)

‚úÖ 7. –í—Å–µ –ª–∏ –ø—Ä–∏–∑–Ω–∞–∫–∏ –Ω–µ—Å—É—Ç –≤ —Å–µ–±–µ –ø–æ–ª–µ–∑–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é?
    - –ò–∑–±–∞–≤—å—Ç–µ—Å—å –æ—Ç –Ω–µ–Ω—É–∂–Ω—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤, –æ–ø–∏—à–∏—Ç–µ –ø–æ—á–µ–º—É –≤—ã —Ä–µ—à–∏–ª–∏ –æ—Ç –Ω–∏—Ö –∏–∑–±–∞–≤–∏—Ç—å—Å—è

In [12]:
# df.drop(columns=['PassengerId', 'Name', 'Ticket'], inplace=True)
# –Ω–µ –Ω–µ—Å—É—Ç —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–æ–π –∑–Ω–∞—á–∏–º–æ—Å—Ç–∏ –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞

‚úÖ 8. –ï—Å—Ç—å –ª–∏ –≤ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–æ–ø—É—Å–∫–∏? –í –∫–∞–∫–∏—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö: —Å–∫–æ–ª—å–∫–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –∫–∞–∂–¥–æ–º –∏–∑ –Ω–∏—Ö?

In [13]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

‚úÖ 9. –ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏—Ç–µ –∫–∞–∫–∏–º –∑–Ω–∞—á–µ–Ω–∏–µ–º —Å—Ç–æ–∏—Ç –∑–∞–ø–æ–ª–Ω–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –≤ –∫–∞–∂–¥–æ–º —Å—Ç–æ–ª–±—Ü–µ –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –µ–≥–æ —Ç–∏–ø–∞. –ó–∞–ø–æ–ª–Ω–∏—Ç–µ –ø—Ä–æ–ø—É—Å–∫–∏ –∏ –ø—Ä–æ–≤–µ—Ä—å—Ç–µ, —á—Ç–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –±–æ–ª—å—à–µ –Ω–µ—Ç.

In [14]:
# –∑–∞–ø–æ–ª–Ω–∏—Ç—å —Å—Ä–µ–¥–Ω–∏–º –∑–Ω–∞—á–µ–Ω–∏–µ–º
df['Age'].fillna(df['Age'].mean(), inplace=True)

/tmp/ipykernel_42091/819301098.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)

In [15]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

‚úÖ 10. –ü—Ä–∞–≤–¥–∞ –ª–∏, —á—Ç–æ —á–∞—â–µ –≤—ã–∂–∏–≤–∞–ª–∏ –ø–∞—Å—Å–∞–∂–∏—Ä—ã —Å –±–æ–ª–µ–µ –¥–æ—Ä–æ–≥–∏–º–∏ –±–∏–ª–µ—Ç–∞–º–∏?

In [16]:
df.groupby('Pclass')['Survived'].mean()

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

‚úÖ 11. –°–æ–∑–¥–∞–Ω–∏–µ –Ω–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ (feature engineering) —è–≤–ª—è–µ—Ç—Å—è –æ–¥–Ω–∏–º –∏–∑ –æ—Å–Ω–æ–≤–Ω—ã—Ö —Å—Ä–µ–¥—Å—Ç–≤ —É–ª—É—á—à–µ–Ω–∏—è –∫–∞—á–µ—Å—Ç–≤–∞ —Ä–∞–±–æ—Ç—ã –∞–ª–≥–æ—Ä–∏—Ç–º–æ–≤ –º–∞—à–∏–Ω–Ω–æ–≥–æ –æ–±—É—á–µ–Ω–∏—è –Ω–∞ —ç—Ç–∞–ø–µ –æ–±—Ä–∞–±–æ—Ç–∫–∏ –¥–∞–Ω–Ω—ã—Ö. 
 - –î–æ–±–∞–≤—å—Ç–µ –≤ —Ç–∞–±–ª–∏—Ü—É —Å—Ç–æ–ª–±–µ—Ü, –∫–æ—Ç–æ—Ä—ã–π –±—É–¥–µ—Ç –ø–æ–∫–∞–∑—ã–≤–∞—Ç—å, —Å–∫–æ–ª—å–∫–æ —Ä–æ–¥–Ω—ã—Ö –ø–ª—ã–ª–æ –≤–º–µ—Å—Ç–µ —Å –ø–∞—Å—Å–∞–∂–∏—Ä–æ–º –Ω–∞ –∫–æ—Ä–∞–±–ª–µ, –≤–∫–ª—é—á–∞—è –µ–≥–æ —Å–∞–º–æ–≥–æ.
 - –ü—Ä–∏–¥—É–º–∞–π—Ç–µ —Å–≤–æ–π –ø—Ä–∏–∑–Ω–∞–∫, –∫–æ—Ç–æ—Ä—ã–π –º–æ–∂–µ—Ç –±—ã—Ç—å –ø–æ–ª–µ–∑–µ–Ω, –∏ –¥–æ–±–∞–≤—å—Ç–µ –µ–≥–æ –≤ —Ç–∞–±–ª–∏—Ü—É.

In [17]:
df['Family'] = df['SibSp'] + df['Parch'] + 1
df.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family
296,297,0,3,"Hanna, Mr. Mansour",male,23.5,0,0,2693,7.2292,NaN,C,1
788,789,1,3,"Dean, Master. Bertram Vere",male,1.0,1,2,C.A. 2315,20.5750,NaN,S,4
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S,3
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
312,313,0,2,"Lahtinen, Mrs. William (Anna Sylfven)",female,26.0,1,1,250651,26.0000,NaN,S,3
619,620,0,2,"Gavey, Mr. Lawrence",male,26.0,0,0,31028,10.5000,NaN,S,1
276,277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45.0,0,0,347073,7.7500,NaN,S,1
555,556,0,1,"Wright, Mr. George",male,62.0,0,0,113807,26.5500,NaN,S,1
756,757,0,3,"Carlsson, Mr. August Sigfrid",male,28.0,0,0,350042,7.7958,NaN,S,1
799,800,0,3,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",female,30.0,1,1,345773,24.1500,NaN,S,3

In [18]:
df['IsAlone'] = (df['Family'] == 1).astype(int)

In [19]:
df.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family,IsAlone
357,358,0,2,"Funk, Miss. Annie Clemmer",female,38.000000,0,0,237671,13.0000,NaN,S,1,1
270,271,0,1,"Cairns, Mr. Alexander",male,29.699118,0,0,113798,31.0000,NaN,S,1,1
394,395,1,3,"Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...",female,24.000000,0,2,PP 9549,16.7000,G6,S,3,0
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.000000,1,4,347088,27.9000,NaN,S,6,0
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.000000,0,0,A/5 3540,8.0500,NaN,S,1,1
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.000000,0,0,4134,9.5875,NaN,S,1,1
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S,1,1
602,603,0,1,"Harrington, Mr. Charles H",male,29.699118,0,0,113796,42.4000,NaN,S,1,1
193,194,1,2,"Navratil, Master. Michel M",male,3.000000,1,1,230080,26.0000,F2,S,3,0
318,319,1,1,"Wick, Miss. Mary Natalie",female,31.000000,0,2,36928,164.8667,C7,S,3,0

‚úÖ 12. –ï—Å—Ç—å –ª–∏ –≤ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–æ–ø—É—Å–∫–∏? –í –∫–∞–∫–∏—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö: —Å–∫–æ–ª—å–∫–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –∫–∞–∂–¥–æ–º –∏–∑ –Ω–∏—Ö?

In [20]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
Family           0
IsAlone          0
dtype: int64

‚úÖ 13. –ö–∞–∫–∞—è —Ñ–∞–º–∏–ª–∏—è –±—ã–ª–∞ —Å–∞–º–æ–π –ø–æ–ø—É–ª—è—Ä–Ω–æ–π –Ω–∞ –∫–æ—Ä–∞–±–ª–µ?)

In [21]:
df['Surname'] = df['Name'].apply(lambda x: x.split(',')[0])
df["Surname"].value_counts().idxmax()

'Andersson'

### üìàNumpy

‚úÖ 1. –ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é, –≤–æ–∑–≤—Ä–∞—â–∞—é—â—É—é –æ–∫—Ä—É–≥–ª–µ–Ω–Ω—É—é –≤–∑–≤–µ—à–µ–Ω–Ω—É—é —Å—É–º–º—É —á–∏—Å–µ–ª –ø–æ –¥–∞–Ω–Ω—ã–º —á–∏—Å–ª–∞–º –∏ –≤–µ—Å–∞–º –∫ –Ω–∏–º.

In [22]:
def weighted_size_numbers(weights: np.array, marks: np.array) -> int:
    return round(np.sum(weights * marks))

In [23]:
weights = np.array([0.3, 0.4, 0.2, 0.1])
marks = np.array([7, 10, 8, 6])

assert weighted_size_numbers(weights, marks) == 8

In [24]:
weights = np.array([0.3, 0.4, 0.2, 0.1])
marks = np.array([7, 0, 8, 6])

assert weighted_size_numbers(weights, marks) == 4

‚úÖ 2. –ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é, –≤—ã–¥–∞—é—â—É—é –∏–Ω–¥–µ–∫—Å—ã ¬´–±–ª–∏–∑–∫–∏—Ö¬ª —ç–ª–µ–º–µ–Ω—Ç–æ–≤ –∑–∞–¥–∞–Ω–Ω—ã—Ö –º–∞—Å—Å–∏–≤–æ–≤, –∞ –∏–º–µ–Ω–Ω–æ —Ç–µ—Ö –ø–∞—Ä —ç–ª–µ–º–µ–Ω—Ç–æ–≤, —á–µ–π –º–æ–¥—É–ª—å —Ä–∞–∑–Ω–∏—Ü—ã –Ω–µ –ø—Ä–µ–≤–æ—Å—Ö–æ–¥–∏—Ç –∑–∞–¥–∞–Ω–Ω–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è. –ù–∞–ø—Ä–∏–º–µ—Ä, –µ—Å–ª–∏ –Ω–∞ –≤—Ö–æ–¥ –ø–æ—Å—Ç—É–ø–∞—é—Ç –º–∞—Å—Å–∏–≤ array([1.5, 0.5, 2, -4.1, -3, 6, -1]), –º–∞—Å—Å–∏–≤ array([1.2, 0.5, 1, -4, 3, 0, -1.2]) –∏ —á–∏—Å–ª–æ 0.5, —Ç–æ –Ω–∞ –≤—ã—Ö–æ–¥–µ –¥–æ–ª–∂–µ–Ω –ø–æ–ª—É—á–∏—Ç—å—Å—è –º–∞—Å—Å–∏–≤ array([0, 1, 3, 6]).

In [25]:
def find_close(array1: np.array, array2: np.array, precision: float) -> np.array:
    return np.where(np.abs(array1 - array2) <= precision)[0] # where –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –∏–Ω–¥–µ–∫—Å—ã —ç–ª–µ–º–µ–Ω—Ç–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ True, –≤–Ω—É—Ç—Ä–µ–Ω–Ω–∏–µ —É—Å–ª–æ–≤–∏–µ –∫–∞–∫ —Ä–∞–∑ –∏ —Å–æ–∑–¥–∞–µ—Ç –ª–æ–≥–∏—á–µ—Å–∫–∏–π –º–∞—Å—Å–∏–≤

In [26]:
array1 = np.array([1.5, 0.5, 2, -4.1, -3, 6, -1])
array2 = np.array([1.2, 0.5, 1, -4.0,  3, 0, -1.2])
precision = 0.5
res = find_close(array1, array2, precision)

assert res.ndim == 1
assert np.allclose(res, np.array([0, 1, 3, 6]))

In [27]:
array1 = np.array([3.1415, 2.7182, 1.6180, 6.6261])
array2 = np.array([6.6730, 1.3807, -1,     6.0222])
precision = 1.7
res = find_close(array1, array2, precision)

assert res.ndim == 1
assert np.allclose(res, np.array([1, 3]))

‚úÖ 3. –ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é, –≤—ã—á–∏—Å–ª—è—é—â—É—é –ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–∏–µ –≤—Å–µ—Ö –Ω–µ–Ω—É–ª–µ–≤—ã—Ö –¥–∏–∞–≥–æ–Ω–∞–ª—å–Ω—ã—Ö —ç–ª–µ–º–µ–Ω—Ç–æ–≤ –Ω–∞ –¥–∏–∞–≥–æ–Ω–∞–ª–∏ –¥–∞–Ω–Ω–æ–π –∫–≤–∞–¥—Ä–∞—Ç–Ω–æ–π –º–∞—Ç—Ä–∏—Ü—ã. –ù–∞–ø—Ä–∏–º–µ—Ä, –µ—Å–ª–∏ –Ω–∞ –≤—Ö–æ–¥ –ø–æ—Å—Ç—É–ø–∞–µ—Ç –º–∞—Ç—Ä–∏—Ü–∞
$$
\begin{pmatrix}
0 & 1 & 2\\
3 & 4 & 5\\
6 & 7 & 8\\
\end{pmatrix},
$$
—Ç–æ –æ—Ç–≤–µ—Ç–æ–º –±—É–¥–µ—Ç 32.

–≠–ª–µ–º–µ–Ω—Ç—ã –º–∞—Ç—Ä–∏—Ü—ã —Å—á–∏—Ç–∞—Ç—å —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–º–∏.

In [28]:
def diag_prod(matrix: np.array) -> int:
    diag = np.diag(matrix)
    return np.prod(diag[diag != 0])

In [29]:
%%time
matrix = np.array([[0, 1, 2, 3],
                   [4, 5, 6, 7],
                   [8, 9, 10, 11],
                   [12, 13, 14, 15]])

assert diag_prod(matrix) == 750

CPU times: user 94 Œºs, sys: 11 Œºs, total: 105 Œºs
Wall time: 109 Œºs

‚úÖ 4. –î–ª—è —É–ª—É—á—à–µ–Ω–∏—è –∫–∞—á–µ—Å—Ç–≤–∞ —Ä–∞–±–æ—Ç—ã –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –∞–ª–≥–æ—Ä–∏—Ç–º–æ–≤ –º–∞—à–∏–Ω–Ω–æ–≥–æ –æ–±—É—á–µ–Ω–∏—è –º–æ–∂–µ—Ç –±—ã—Ç—å –ø–æ–ª–µ–∑–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å [–Ω–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—é –¥–∞–Ω–Ω—ã—Ö](https://vk.cc/8xmfQk), —á—Ç–æ–±—ã –ø—Ä–∏–≤–µ—Å—Ç–∏ –ø—Ä–∏–∑–Ω–∞–∫–∏ –≤ –≤—ã–±–æ—Ä–∫–µ –∫ –æ–¥–Ω–æ–º—É –º–∞—Å—à—Ç–∞–±—É ‚Äî –∞ –∏–º–µ–Ω–Ω–æ, –∏–∑ –∫–∞–∂–¥–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞ –≤—ã—á–µ—Å—Ç—å —Å—Ä–µ–¥–Ω–µ–µ –µ–≥–æ –∑–Ω–∞—á–µ–Ω–∏–π –∏ –ø–æ–¥–µ–ª–∏—Ç—å –Ω–∞ –∏—Ö —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ. –ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é, –Ω–æ—Ä–º–∞–ª–∏–∑—É—é—â—É—é –≤—Ö–æ–¥—è—â—É—é –º–∞—Ç—Ä–∏—Ü—É (–ø–æ —Å—Ç–æ–ª–±—Ü–∞–º). –ü–æ–º–Ω–∏—Ç–µ, —á—Ç–æ –≤ –≤–∞—à–µ–º –º–∞—Ç—Ä–∏—Ü–µ –Ω–µ –¥–æ–ª–∂–Ω–æ –ø–æ–ª—É—á–∞—Ç—å—Å—è –ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π nan. 

4* –ü–æ–¥—É–º–∞–π—Ç–µ, –ø–æ—á–µ–º—É –º–æ–≥–ª–∏ –±—ã –≤–æ–∑–Ω–∏–∫–Ω—É—Ç—å –ø—É—Å—Ç—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è?)

In [37]:
def normalize(matrix: np.array) -> np.array:
    mean = np.mean(matrix, axis=0) # —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –ø–æ –≤—Å–µ–º —Å—Ç–æ–ª–±—Ü–∞–º
    std = np.std(matrix, axis=0) # —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ –ø–æ –≤—Å–µ–º —Å—Ç–æ–ª–±—Ü–∞–º
    std[std == 0] = 1
    return (matrix - mean) / std

In [38]:
matrix = np.array([[1, 4, 4200], [0, 10, 5000], [1, 2, 1000]])

assert np.allclose(
    normalize(matrix),
    np.array([[ 0.7071, -0.39223,  0.46291],
              [-1.4142,  1.37281,  0.92582],
              [ 0.7071, -0.98058, -1.38873]])
)

In [39]:
matrix = np.array([[-7, 2, 42], [2, 10, 50], [5, 4, 10]])

assert np.allclose(
    normalize(matrix),
    np.array([[-1.37281, -0.98058,  0.46291],
              [ 0.39223,  1.37281,  0.92582],
              [ 0.98058, -0.39223, -1.38873]])
)

‚úÖ 5. –ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é, –≤—ã—á–∏—Å–ª—è—é—â—É—é –∫–æ—Å–∏–Ω—É—Å–Ω—É—é –±–ª–∏–∑–æ—Å—Ç—å –¥–≤—É—Ö –≤–µ–∫—Ç–æ—Ä–æ–≤. –ù–∞–ø—Ä–∏–º–µ—Ä, –µ—Å–ª–∏ –Ω–∞ –≤—Ö–æ–¥ –ø–æ—Å—Ç—É–ø–∞—é—Ç –≤–µ–∫—Ç–æ—Ä–∞ array([-2, 1, 0, -5, 4, 3, -3]) –∏ array([0, 2, -2, 10, 6, 0, 0]), –æ—Ç–≤–µ—Ç–æ–º –±—É–¥–µ—Ç -0.25.

In [40]:
def cosine_similarity(vec1: np.array, vec2: np.array) -> float:
    return np.dot(vec1, vec2) / (np.linalg.norm(vec1) * np.linalg.norm(vec2)) # —Å–∫–∞–ª—è—Ä–Ω–æ–µ –ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–∏–µ –≤–µ–∫—Ç–æ—Ä–æ–≤ –¥–µ–ª–µ–Ω–Ω–æ–µ –Ω–∞ –ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–∏–µ –∏—Ö –¥–ª–∏–Ω (–Ω–æ—Ä–º)

In [41]:
vec1 = np.array([-2, 1,  0, -5, 4, 3, -3])
vec2 = np.array([ 0, 2, -2, 10, 6, 0,  0])

assert np.allclose(cosine_similarity(vec1, vec2), -0.25)

In [42]:
vec1 = np.array([-4, 2,  9, -8, 9, 0, -2])
vec2 = np.array([ 3, 2, -4, -1, 3, 2,  2])

assert np.allclose(cosine_similarity(vec1, vec2), -0.119929)